.navContainer {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1E90FF;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.navContainer a {
  text-decoration: none;
  color: white;
}

.nav_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_all img {
  height: 40px;
}

.nav_home {
  margin: 5px;
}

.nav_home img {
  height: 55px;
}

.nav_create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_create img {
  height: 40px;
}