.text-404 {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.title-404 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 10em;
  font-weight: 100;
}

img {
  width: 90px;
  height: 90px;
}

.btn {
  height: 40px;
  width: 70px;
  background-color: #1E90FF;
  border: 1px solid #1E90FF;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  height: 50px;
  width: 80px;
  background-color: #00BFFF;
}